In [1]:

import pandas as pd
import supabase
from pprint import pprint
from supabase import create_client, Client
import supabase
import string
import re
import os
from time import sleep


supabase_key: str = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFub3Rlc3ppem92dmtuaWlqZHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNTMxMjYsImV4cCI6MjA3MzgyOTEyNn0.8fH-5neMiN8kRZSAfW_9DZ4O5wSX1e1C_KaLyo3DL1o"
supabase_url: str = "https://qnoteszizovvkniijdwp.supabase.co"
print(supabase_key )
supabase: Client = create_client(supabase_url, supabase_key)
def fetch_all_data(table: str, batch_size: int = 500):
    """Fetch all rows from a Supabase table using pagination."""
    all_rows = []
    start = 0
    
    while True:
        end = start + batch_size - 1
        response = supabase.table(table).select("*").range(start, end).execute()
        
        rows = response.data
        if not rows:
            break
        
        all_rows.extend(rows)
        start += batch_size
        print(f"Fetched {len(rows)} rows, total so far: {len(all_rows)}")
    
    return all_rows

# Example usage
if __name__ == "__main__":
    data = fetch_all_data("auth_alle", batch_size=500)
    print(f"Fetched {len(data)} rows")
    import pandas as pd
    df = pd.DataFrame(data)
    df.to_csv("auth_alle_rows.csv", index=False)

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFub3Rlc3ppem92dmtuaWlqZHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNTMxMjYsImV4cCI6MjA3MzgyOTEyNn0.8fH-5neMiN8kRZSAfW_9DZ4O5wSX1e1C_KaLyo3DL1o
Fetched 500 rows, total so far: 500
Fetched 500 rows, total so far: 1000
Fetched 500 rows, total so far: 1500
Fetched 500 rows, total so far: 2000
Fetched 500 rows, total so far: 2500
Fetched 500 rows, total so far: 3000
Fetched 500 rows, total so far: 3500
Fetched 500 rows, total so far: 4000
Fetched 500 rows, total so far: 4500
Fetched 500 rows, total so far: 5000
Fetched 500 rows, total so far: 5500
Fetched 500 rows, total so far: 6000
Fetched 500 rows, total so far: 6500
Fetched 500 rows, total so far: 7000
Fetched 500 rows, total so far: 7500
Fetched 500 rows, total so far: 8000
Fetched 500 rows, total so far: 8500
Fetched 500 rows, total so far: 9000
Fetched 500 rows, total so far: 9500
Fetched 500 rows, total so far: 10000
Fetched 500 rows, total so far: 10500
Fetched 500 rows, total so far: 11000
Fetched 500 rows, total so far: 11500
Fetched 500 rows, total so far: 12000
Fetched 500 rows, total so far: 12500
Fetched 500 rows, total so far: 13000
Fetched 500 rows, total so far: 13500
Fetched 500 rows, total so far: 14000
Fetched 500 rows, total so far: 14500
Fetched 500 rows, total so far: 15000
Fetched 500 rows, total so far: 15500
Fetched 500 rows, total so far: 16000
Fetched 500 rows, total so far: 16500
Fetched 500 rows, total so far: 17000
Fetched 500 rows, total so far: 17500
Fetched 500 rows, total so far: 18000
Fetched 500 rows, total so far: 18500
Fetched 500 rows, total so far: 19000
Fetched 500 rows, total so far: 19500
Fetched 500 rows, total so far: 20000
Fetched 500 rows, total so far: 20500
Fetched 500 rows, total so far: 21000
Fetched 500 rows, total so far: 21500
Fetched 500 rows, total so far: 22000
Fetched 500 rows, total so far: 22500
Fetched 500 rows, total so far: 23000
Fetched 500 rows, total so far: 23500
Fetched 500 rows, total so far: 24000
Fetched 500 rows, total so far: 24500
Fetched 500 rows, total so far: 25000
Fetched 500 rows, total so far: 25500
Fetched 500 rows, total so far: 26000
Fetched 500 rows, total so far: 26500
Fetched 500 rows, total so far: 27000
Fetched 500 rows, total so far: 27500
Fetched 500 rows, total so far: 28000
Fetched 500 rows, total so far: 28500
Fetched 500 rows, total so far: 29000
Fetched 500 rows, total so far: 29500
Fetched 500 rows, total so far: 30000
Fetched 121 rows, total so far: 30121
Fetched 30121 rows

In [25]:
df = pd.DataFrame(data)
df.to_csv("cleaning.csv", index=False)

NameError: name 'data' is not defined

In [61]:
df

,id,field_id,Titel_Autor,RASignatur,Volltext,Unique_Key,file
0,134,0,FRAU DR. BERTSCHI (CH/VTMS),86980,86980 Frau Dr. Bertschi CHVTMS Kruglinski Davi...,"86980FRAU DR. BERTSCHI (CH/VTMS)II.896 p,",chunk_3
1,135,1,FRAU DR. BERTSCHI (MS),85484,85484 Frau Dr. Bertschi MS Panjer Harry H. Wil...,85484FRAU DR. BERTSCHI (MS) 442 p.,chunk_3
2,136,2,FRAU DR. BRAUN (PL),81254,11254 Frau Dr. Braun PL Streiff Ullin Kaenel A...,81254FRAU DR. BRAUN (PL)m.608 S.,chunk_3
3,137,3,FRAU DR. GUGGISBERG,83555,83555 Frau Dr. Guggisberg Duden Rechtschreibun...,83555FRAU DR. GUGGISBERGcm.8J2 S.,chunk_3
4,138,4,FRAU DR. GUGGISBERG,83557,83557 Frau DT Guggisberg Peltzer Karl Normann ...,83557FRAU DR. GUGGISBERGt. (Treffe,chunk_3
...,...,...,...,...,...,...,...
30173,30307,44,SECURITY,None,"1. Brück, E. Brück, E. Reichsgesetz über den V...",SECURITY security,missing
30174,30308,45,STUDIERENDE,188/15/IV,studierende studierende an den schweizerischen...,188/15/IVSTUDIERENDEesamt fUr,missing
30175,30309,47,VERWALTUNGSENTSCHEIDE,145,Verwaltungsentscheid die Verwaltungsentscheide...,145VERWALTUNGSENTSCHEIDEidg. Justi,missing
30176,30310,48,WEILENMANN,84046,Weilenmann Faul Weilemaann Paul Grundlagen des...,84046PAULWEILENMANNder; Zür,missing
30177,30311,49,ZIEZOLD,None,zie 201 d Herbert S. Krickeberg Klaus Zh1 stoc...,"HERBERTZIEZOLDMethoden,",missing

In [2]:
import pandas as pd

df = pd.read_csv('auth_alle_rows.csv')
df1=pd.read_csv('cleaning_rows.csv')

In [3]:
df1.columns = df1.columns.str.lower()
df.columns = df.columns.str.lower()

In [32]:

df=df[['titel_autor', 'rasignatur', 'volltext', 'unique_key']]

In [20]:
df=df[['unique_key']]
df1 = df1[['unique_key']]

In [6]:
df1.columns

Index(['Unique_Key'], dtype='object')

In [21]:
df

                                       unique_key
0      86980FRAU DR. BERTSCHI (CH/VTMS)II.896 p,
1           85484FRAU DR. BERTSCHI (MS) 442   p.
2              81254FRAU DR. BRAUN (PL)m.608  S.
3              83555FRAU DR. GUGGISBERGcm.8J2 S.
4              83557FRAU DR. GUGGISBERGt. (Treffe
...                                           ...
30039             83501FRAU JAEGER (PL)21dm.10 S
30040             83530FRAU JAEGER (PL)0cm.832 S
30041   83773/1,2,3,4,5FRAU JAEGER (PL)t der Klin
30042             85766FRAU JAEGER (PL)cm.792 S.
30043            86644FRAU JAEGER (VAD)558+657 S.

[30044 rows x 1 columns]

In [44]:
df1 = df1[[ 'unique_key']]
df = df[[ 'unique_key']]

In [36]:
df1.to_csv("cleaning.csv", index=False)

In [37]:
df.to_csv("auth_alle_rows.csv", index=False)

In [ ]:
auth_alle["Unique_Key"] = auth_alle["Unique_Key"].astype(str).str.strip().str.lower()
cleaning["Unique_Key"] = cleaning["Unique_Key"].astype(str).str.strip().str.lower()

                             unique_key
445                               82348
446                               82350
908           2885LOTHARMEIERGallen: Po
1047       2361MATTHIASHALLERn Kaufmänn
1456       4379MEINOLFDIERKES Herder, (
...                                 ...
30184         94268/7H.KUTTER., 19 Abb.
30185       87177HARRYMUCKSCH59 S 35989
30186         5730LYDIASCHIESSln. 14774
30187  70475HANS RUDOLFSCHINZ125 Beilag
30188                 SVIZZERI. (1945)-

[27186 rows x 1 columns]

In [46]:
df = pd.read_csv('auth_alle_rows.csv')
df

,titel_autor,rasignatur,volltext,unique_key
0,FRAU DR. BERTSCHI (CH/VTMS),86980,86980 Frau Dr Bertschi CHVTMS Kruglinski David...,"86980FRAU DR. BERTSCHI (CH/VTMS)II.896 p,"
1,FRAU DR. BERTSCHI (MS),85484,85484 Frau Dr Bertschi MS Panjer Harry H Willm...,85484FRAU DR. BERTSCHI (MS) 442 p.
2,FRAU DR. BRAUN (PL),81254,11254 Frau Dr Braun PL Streiff Ullin Kaenel Ad...,81254FRAU DR. BRAUN (PL)m.608 S.
3,FRAU DR. GUGGISBERG,83555,83555 Frau Dr Guggisberg Duden Rechtschreibung...,83555FRAU DR. GUGGISBERGcm.8J2 S.
4,FRAU DR. GUGGISBERG,83557,83557 Frau DT Guggisberg Peltzer Karl Normann ...,83557FRAU DR. GUGGISBERGt. (Treffe
...,...,...,...,...
30039,FRAU JAEGER (PL),83501,63501 Frau Jäger PL Frauen und Arbeitslosigkei...,83501FRAU JAEGER (PL)21dm.10 S
30040,FRAU JAEGER (PL),83530,83530 Frau Jäger PL Duden Rechtschreibung der ...,83530FRAU JAEGER (PL)0cm.832 S
30041,FRAU JAEGER (PL),"83773/1,2,3,4,5",8377312345 Frau Jäger PL Mathey Marie Ciaire A...,"83773/1,2,3,4,5FRAU JAEGER (PL)t der Klin"
30042,FRAU JAEGER (PL),85766,85766 Frau Jäger PL Duden Rechtschreibung der ...,85766FRAU JAEGER (PL)cm.792 S.
30043,FRAU JAEGER (VAD),86644,SS 644 Frau Jäger V AD Langenscheidt LS Handwö...,86644FRAU JAEGER (VAD)558+657 S.

In [75]:
df = pd.read_csv("cleaning.csv")
df1 = pd.read_csv('missing.csv', sep=';')